<div class="delete-image">
    <div class="row">
        <div class="col s5 push-s4">
            <div class="card-panel opacity">
                <h4 class="center-align">Crear actividad</h4>
                <form (ngSubmit)="create()" #createActivitiesForm="ngForm">
                    <!-- (ngSubmit)="create()" -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">explore</i>
                            <label for="icon_telephone">Nombre de la actividad:</label>
                            <input id="icon_telephone" type="text" class="validate" [(ngModel)]="nombre" name="nombre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event</i>
                            <label for="icon_telephone">Fecha de la actividad:</label>
                            <!-- <input id="icon_telephone" type="text" -->
                            <input type="text" class="datepicker"
                            required
                            [(ngModel)]="fecha" name="fecha">
                        </div>
                    </div>
                    <div class="center-align">
                        <button class="waves-effect waves-light btn cyan darken-4"
                        [disabled]="!createActivitiesForm.form.valid"><i class="material-icons left">add</i>Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

