<div class="row">
    <div class="col s5 push-s4">
        <div class="card-panel opacity">
            <h4 class="center-align">Datos de la actividad</h4>
            <form >
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="icon_telephone" type="text" value={{actividad.id}} readonly>
                        <label for="icon_telephone">ID:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">explore</i>
                        <input id="icon_telephone" type="text" value={{actividad.nombre}} readonly>
                        <label for="icon_telephone">Nombre de la actividad:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">event</i>
                        <input id="icon_telephone" type="text" value={{actividad.fecha}} readonly>
                        <label for="icon_telephone">Fecha de la actividad:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">wb_sunny</i>
                        <input id="icon_telephone" type="text" value={{actividad.prediccion}} readonly>
                        <label for="icon_telephone">Predicción para la fecha:</label>
                    </div>
                </div>
                <div class="center-align">
                    <a class="waves-effect waves-light btn cyan darken-4" (click)="action()"><i class="material-icons left">delete_forever</i>Eliminar</a>
                </div>
            </form>
        </div>
    </div>
</div>